:root {
    --albumCoverDimensions: 300px;
    --albumCoverScaling: auto;
    --tableTextAlign: start;
}

body {
    padding: 0
}

.app {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: row;
}

.artists {
    align-self: flex-start;
    padding-right: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
}

.artistInformation:empty {
    display: none;
}

.albumInformation {
    padding: 10px;
    background-color: beige;
}

.albumInformation:empty {
    display: none;
}

.albumCover {
    height: var(--albumCoverScaling);
    width: var(--albumCoverScaling);
    max-width: var(--albumCoverDimensions);
    max-height: var(--albumCoverDimensions);
    border: 1px;
    border-radius: 3px;
}

.artistList {
    padding-inline-start: 0px;
}

.artistListItem {
    background-color: rgb(151, 72, 72);
    list-style-type: none;
}

table {
    margin-right: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding-right: 40px;
    text-align: var(--tableTextAlign);
}

td {
    text-align: var(--tableTextAlign);
}