:root {
    --albumCoverDimensions: 300px;
    --albumCoverScaling: auto;
    --tableTextAlign: start;
}

body {
    scrollbar-width: thin;
    padding: 0
}

.app {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: row;
}

.artists {
    align-self: flex-start;
    padding-right: 5px;
}

.information {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.artistInformation {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.artistInformation:empty {
    display: none;
}

.artistName {
    padding: 0;
    
}

#artistBio {
    resize: none;
    border: 1px;
    border-radius: 5px;
    
}

#artistBio::-webkit-scrollbar {
    display: none;
}

#artistBio.focus {
    outline-width: 0;
}

.albumInformation {
    padding: 10px;
    background-color: beige;
}

.albumInformation:empty {
    display: none;
}

.albumCover {
    margin-left: auto;
    margin-right: auto;
    height: var(--albumCoverScaling);
    width: var(--albumCoverScaling);
    max-width: var(--albumCoverDimensions);
    max-height: var(--albumCoverDimensions);
    border: 1px;
    border-radius: 2px;
}

.tracklistHeading {
    width: 10ch;
}

.artistList {
    padding-inline-start: 0px;
}

.artistList li {
    margin-bottom: 2px;
    padding: 3px;
    background-color: rgb(151, 72, 72);
    list-style-type: none;
    cursor: pointer;
    
}

.albumList {
    padding-inline-start: 0px;
}

.albumList li {
    list-style-type: none;
    cursor: pointer;
}

.trackList {
    width: fit-content;
}

.numCol {
    width: 3ch;
}

.titleCol {
    width: auto;
}

.durationCol {
    width: 7ch;
}

.tracklistTbl {
    table-layout: fixed;
}

.tracklistTbl th, .tracklistTbl td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

