:root {
    --albumCoverDimensions: 170px;
}

body {
    padding: 0
}

.app {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: row;
}

.artists {
    align-self: flex-start;
    padding-right: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.albumCover {
    max-width: var(--albumCoverDimensions);
    max-height: var(--albumCoverDimensions);
    border: 1px;
    border-radius: 3px;
}

.artistList {
    padding-inline-start: 10px;
}

.artistListItem {
    background-color: red;
    list-style-type: none;
}

th {
    text-align: start;
}

td {
    text-align: center;
}