:root {
    --albumCoverDimensions: auto;
    --albumCoverScaling: auto;
    --liBorderRadius: 3px;
    --liPadding: 2px;
    --liMarginB: 2px;
    --tblTextAlign: left;
}

body {
    scrollbar-width: thin;
    padding: 0
}

.app {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: row;
}

.artists {
    align-self: flex-start;
    padding-right: 5px;
}

.artistSearch {
    display: flex;
    align-items: center;
}

.information {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    max-height: 90vh;
}

.artistInformation {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-height: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.artistInformation:empty {
    display: none;
}

.artistName {
    padding: 0;
    
}

#artistBio {
    width: 60ch;
    height: 12lh;
    box-sizing: border-box;
    resize: vertical;
    max-height: 50vh;
    border: 1px;
    background-color: rgb(223, 223, 223);
}

.albumInformation {
    background-color: beige;
    min-height: 0;
    height: fit-content;
    max-height: inherit;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
}

.albumInformation:empty {
    display: none;
}

.albumCover {
    height: var(--albumCoverScaling);
    width: var(--albumCoverScaling);
    max-width: 100%;
    max-height: var(--albumCoverDimensions);
    border: 1px;
    border-radius: 1px;
}

.albumInfoTbl {
    text-align: var(--tblTextAlign);
    border-collapse: collapse;
}

.tracklistHeading {
    width: 10ch;
}

.artistList {
    padding-inline-start: 0px;
}

.artistList li {
    margin-bottom: var(--liMarginB);
    padding: var(--liPadding);
    background-color: rgb(162, 162, 162);
    list-style-type: none;
    cursor: pointer;
    border: 1px;
    border-radius: var(--liBorderRadius);
}

.artistList li:hover {
    background-color: aqua;
}

.albumList {
    padding-inline-start: 0px;
    overflow-y: auto;
}

.albumList li {
    margin-bottom: var(--liMarginB);
    padding: var(--liPadding);
    background-color: rgb(188, 188, 188);
    list-style-type: none;
    cursor: pointer;
    border: 1px;
    border-radius: var(--liBorderRadius);
}

.trackList {
    width: fit-content;
}

.numCol {
    width: 3ch;
}

.titleCol {
    width: auto;
}

.durationCol {
    width: 7ch;
}

.tracklistTbl {
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: auto;
}

.tracklistTbl th, .tracklistTbl td {
    text-align: var(--tblTextAlign);
    
}

.tracklistTbl thead th {
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 2;
}

.tracklistTbl tfoot th, .tracklistTbl tfoot td {
    position: sticky;
    background-color: #fff;
    bottom: 0;
    z-index: 2;
}

.tracklistTbl td:hover {
    background-color: red;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
